* {
  margin: 0;
  padding: 0;
}

.main {
  .icon {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    img {
      width: 250px;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    input {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      border: 1px solid #DCDCDCFF;
      text-indent: 15px;
      font-size: 17px;
      transition: border-radius .2s;

      &:focus {
        outline: none;
      }
    }

    &-container {
      position: relative;
      max-width: 600px;
      margin-inline: auto;

      &.active {
        input {
          border-radius: 10px 10px 0 0;
        }

        .search-result {
          clip-path: inset(0 0 0 0);
        }
      }
    }

    &-result {
      width: 100%;
      position: absolute;
      left: 0;
      top: 50px;
      padding: 10px;
      border: 1px solid #DCDCDCFF;
      border-top: none;
      border-radius: 0 0 10px 10px;
      box-sizing: border-box;
      clip-path: inset(0 0 100% 0);
      transition: clip-path .2s ease;

      .items {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          color: cornflowerblue;
          font-family: sans-serif;
          text-transform: capitalize;

          .highlighted {
            background: cornflowerblue;
            color: white;
          }
        }
      }

      .more-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        button {
          padding: 10px;
          background: cornflowerblue;
          border: 2px solid cornflowerblue;
          border-radius: 5px;
          color: white;
          cursor: pointer;
        }

        span {
          font-size: 18px;
          font-family: sans-serif;
        }
      }

      .empty-data {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: sans-serif;

        .highlighted {
          color: cornflowerblue;
        }
      }
    }
  }

  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 12%);

    img {
      width: 50px;
      height: 50px;
    }
  }

  .container {
    margin-bottom: 50px;

    .pagination {
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        padding: 10px;
        background: cornflowerblue;
        border: 2px solid cornflowerblue;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }

      &-content {
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 10px;

        .pagination-item {
          &-page {
            min-width: 15px;
            padding: 5px;
            font-size: 18px;
            border: 2px solid cornflowerblue;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            cursor: pointer;
            color: #313131c9;

            &.active {
              background: cornflowerblue;
              color: white;
            }
          }

          &-dots {
            font-size: 20px;
          }
        }
      }
    }

    .users {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      max-width: 90%;
      grid-gap: 30px;
      margin: 50px auto 0;

      .user {
        height: 350px;
        border: 1px solid cornflowerblue;
        border-radius: 15px;

        .cover {
          width: 100%;
          height: 80%;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: left;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }

        .info {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            color: cornflowerblue;
            font-family: sans-serif;
            text-transform: capitalize;

            .highlighted {
              background: cornflowerblue;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .main {
    .container {
      .users {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media (max-width: 1200px) {
  .main {
    .container {
      .users {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    .search-container {
      max-width: 90%;
    }

    .container {
      .pagination {
        gap: 15px;

        button {
          padding: 5px;
        }

        .pagination-content {
          .pagination-item-page {
            font-size: 15px;
          }
        }
      }

      .users {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    .container {
      .users {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}